body {
    font-family: 'Open Sans', sans-serif;
}

#matcha_logo {
    height: 50%;
    width: 50%;
}

#patreon {
    width: 4%;
}

#twitter {
    width: 4%;
}


/*

#home_link {
    width: 25%;
}

#games_link {
    width: 25%;
}

#about_link {
    width: 25%;
}

#contact_link {
    width: 25%;
}

*/


#announcements {
/*    background-image: url(/images/office_industricorp.jpg);*/
    height: 100%;
    width: 100%;
}

#games {
/*    background-image: url(/images/exterior_industricorp.jpg);*/
}

#twitter_frame {
    height: 50vh;
}

#news_frame {
    background-color: #FFFFFF;
    height: 50vh;
}

#patreon_banner {
    width: 100%;
    height: ;
    background-color: #FFFFFF;
}

#hardwork_avatar {
    width: 100%;
}

#modal_games {
    width: 30%;
}

#hardwork_link {
    text-decoration: none;
}

#contact {
    width: 100%;
}

form input {
    margin-top: 16px;
}

textarea {
    margin-top: 16px;
}

form input:first-child {
    margin-top: 0px;
}


#nav_img {
    width: auto;
}

#nav_dropdown {
    width: 100vw;
}
